* {
    background-color: cadetblue;
}

p {
    color: blueviolet;
}

div h1 {
    color: white;
}

div p {
    color: blue;
}

#texto {  /* prioridad ascendente, los id tienen mayor prioridad*/
    background-color: white;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
    text-align: justify;
    color: #333; 
}