* {
    margin: 0;
    padding: 0;
}

h1 + p {  /* Selector hermano adyacente*/
    background-color: aquamarine;
    padding: 7px;
}

section > p {
    background-color: blueviolet;
}

h1 ~ p {  /* selector hermano general*/
    background-color: beige;
    font-size: 25px;
}